<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038379319455-ncderejvgqkn20sv3ctdbq6vfok8th43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038379319455-ncderejvgqkn20sv3ctdbq6vfok8th43</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1038379319455-gupe43qjudj61pbtpcasev3q82pb9nn3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnCh_vQbCnDKzB6kimdDl31xgOgzf5yHg</string>
	<key>GCM_SENDER_ID</key>
	<string>1038379319455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.TaxiNanny</string>
	<key>PROJECT_ID</key>
	<string>taxinanny-56be3</string>
	<key>STORAGE_BUCKET</key>
	<string>taxinanny-56be3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038379319455:ios:4034b78ea5b2698b</string>
	<key>DATABASE_URL</key>
	<string>https://taxinanny-56be3.firebaseio.com</string>
</dict>
</plist>